<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Halaman Utama
        link(rel="stylesheet", href="./style/bootstrap.css")
        link(rel="stylesheet", href="./style/custom.min.css")
        link(rel="stylesheet", href="./fontawesome/all.min.css")
        link(rel="stylesheet", href="./style/app.css")

        script(src='https://kit.fontawesome.com/64d58efce2.js' crossorigin="anonymous")
        
    body.nav-md

            div(class="container body")
                div(class="main_container")
                    div(class="col-md-3 left_col")
                        div(class="left_col scroll-view")
                            div.navbar.nav_title
                                a(href="/main") 
                                    img(src="./img/Contoh3.jpg")
                            div.clearfix
                            br
                            br
                            div(id="sidebar-menu" class="main_menu_side hidden-print main_menu")
                                div(class="menu_section")
                                    h3 Menu
                                    ul(class="nav side-menu")
                                        li
                                            a(href="http://localhost:3000/main") #[i.fa.fa-home.fa.fw] Beranda
                                        li.active
                                            a(href="http://localhost:3000/barang") #[i.fa.fa-boxes.fa.fw] Data Barang
                                        li
                                            a(href="http://localhost:3000/user") #[i.fa.fa-users.fa.fw] Data User
                                        li
                                            a(href="http://localhost:3000/logout") #[i.fa.fa-sign-out.fa.fw] 
                                                label= `Keluar (${username})`
                                                
                    //- Top Navigation
                    div(class="top_nav")
                        div(class="nav_menu")
                            div(class="nav toggle")
                                a(id="menu_toggle") #[i.fa.fa-bars]

                    //- Page Content
                    div(class="right_col" role="main" style="min-height: 92.3vh")
                        div.row
                            div.col-md-12
                                //- if(message.msg-error)
                                //-     div(class="alert alert-danger alert-dismissible fade show" role="alert")
                                //-         p #{message.msg-error}
                                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close") 
                                //-             span(aria-hidde="true") &times;
                                //- else if(message.msg-succes)
                                //-     div(class="alert alert-success alert-dismissible fade show" role="alert")
                                //-         p #{message.msg-succes}
                                //-         button(type="button" class="close" data-dismiss="alert" aria-label="Close") 
                                //-             span(aria-hidde="true") &times;
                                h3 #[i.fa.fa-boxes] | Data Barang
                                hr
                                table.table.table-striped.table-bordered(id="dataTable")
                                    thead
                                        tr.text-center.bg-info.text-white
                                            th(width="20px") No
                                            th Nama Barang
                                            th Harga Barang
                                            th(width="250px") Gambar
                                            th Deskripsi
                                            th(colspan="2" width="40px") 
                                                button.btn.btn-sm.btn-danger(data-target="#ModalTambahBarang" data-toggle="modal") #[i.fa.fa-plus-circle] Tambah
                                    tbody
                                        for q in data
                                            tr.text-center
                                                td= q.no
                                                td= q.nama_barang
                                                td= q.harga_barang
                                                td
                                                    img(src=`img/${q.gambar}` width="w-100")
                                                td= q.deskripsi
                                                td
                                                    a(href=`#ModalEditBarang-${q.id}` data-toggle="modal" class="btn btn-sm btn-info") #[i.fa.fa-edit]
                                                    form(action="/deleteBarang", method="post")
                                                        input(type="hidden", name="id" value=`${q.id}`)
                                                        input(type="hidden", name="gambar" value=`${q.gambar}`)
                                                        button(type="submit" class="btn btn-sm btn-danger") #[i.fa.fa-trash-alt]
                    //- Footer
                    footer
                        div.text-center   0
                            h6 Bootstrap Admin Template by Fadil Faishal Nafis
            
                    //- Modal Tambah Data
                    div(class="modal fade" id='ModalTambahBarang' tabindex="-1" role="dialog" aria-labelledby='ModalTambahBarang' aria-hidden="true")
                        div(class="modal-dialog modal-dialog-centered modal-lg" role="document")
                            div(class="modal-content")
                                div(class="modal-header")
                                    h5(class="modal-title") #[i.fa.fa-plus-circle] Tambah Data Barang
                                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                div(class="modal-body")
                                    form(action="/barang" method="post" id="TambahBarang" enctype="multipart/form-data")
                                        div.row
                                            div.col-md-4
                                                div.form-group
                                                    label.font-weight-bold Nama Barang
                                                    input(type="text" class="form-control" placeholder="Masukan Nama Barang" name="namaBarang")
                                            div.col-md-4
                                                div.form-group
                                                    label.font-weight-bold Harga Barang
                                                    input(type="number" class="form-control" placeholder="Masukan Email" name="hargaBarang")
                                            div.col-md-4
                                                div.form-group
                                                    label.font-weight-bold Gambar
                                                    input(type="file" class="form-control" name="gambar")
                                        div.row
                                            div.col-md-12
                                                div.form-group
                                                    label.font-weight-bold Deskripsi
                                                    textarea(name="deskripsi" class="form-control" placeholder="Masukan Deskripsi")
                                        div(class="modal-footer")
                                                button(type="button" class="btn btn-danger" data-dismiss="modal") #[i.fa.fa-close] Batal
                                                button.btn.btn-info(type="submit") #[i.fa.fa-plus-circle] Tambah
                    //- Modal Edit
                    for q in data
                        div(class="modal fade" id=`ModalEditBarang-${q.id}` tabindex="-1" role="dialog" aria-labelledby=`ModalEditBarang-${q.id}` aria-hidden="true")
                            div(class="modal-dialog modal-dialog-centered modal-lg" role="document")
                                div(class="modal-content")
                                    div(class="modal-header")
                                        h5(class="modal-title") Data Barang : 
                                            span.font-weight-bold= q.nama_barang 
                                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                    div(class="modal-body")
                                        form(action="/EditBarang" method="post" autocomplete="off" enctype="multipart/form-data")
                                            input(type="hidden" value=`${q.id}` name="idBarang")
                                            input(type="hidden" value=`${q.gambar}` name="gambarLama")
                                            div.row
                                                div.col-md-4
                                                    div.form-group
                                                        label.font-weight-bold Nama Barang
                                                        input(type="text" class="form-control" placeholder="Masukan Nama Barang" name="namaBarang" value=`${q.nama_barang}`)
                                                div.col-md-4
                                                    div.form-group
                                                        label.font-weight-bold Harga Barang
                                                        input(type="number" class="form-control" placeholder="Masukan Email" name="hargaBarang" value=`${q.harga_barang}`)
                                                div.col-md-4
                                                    div.form-group
                                                        label.font-weight-bold Gambar
                                                        input(type="file" class="form-control" name="gambar")
                                            div.row     
                                                div.col-md-12
                                                    img(src=`img/${q.gambar}` class="img-fluid" style="min-height: 150px; max-height:200px;")
                                            br
                                            div.row     
                                                div.col-md-12
                                                    div.form-group
                                                        label.font-weight-bold Deskripsi
                                                        textarea(name="deskripsi" class="form-control" placeholder="Masukan Deskripsi")= q.deskripsi
                                            div(class="modal-footer")
                                                    button(type="button" class="btn btn-danger" data-dismiss="modal") #[i.fa.fa-close] Batal
                                                    button.btn.btn-info(type="submit") #[i.fa.fa-save] Simpan 
            script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
            script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
            script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js', integrity='sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV', crossorigin='anonymous')
            script(src="./style/custom.min.js")
            script(src="./fontawesome/all.min.js")